<app-banner></app-banner>

<main class="main">
  <div class="center">
    <button
      mat-icon-button
      color="primary"
      class="cut-cake"
      (click)="openCake()"
    >
      <mat-icon>cake</mat-icon>
    </button>
  </div>
  <div class="flex-container">
    <div class="gallery-row">
      <img src="../../assets/images/goofy.png" />
    </div>
    <div class="gallery-row">
      <img src="../../assets/images/goofy1.JPG" />
    </div>
    <div class="gallery-row">
      <img src="../../assets/images/goofy2.JPG" />
    </div>
    <div class="gallery-row">
      <img src="../../assets/images/goofy3.JPG" />
    </div>

    <div class="gallery-row">
      <img src="../../assets/images/goofy9.jpg" />
    </div>
  </div>
  <div class="flex-container sm">
    <div class="gallery-row">
      <img src="../../assets/images/goofy4.JPG" />
    </div>
    <div class="gallery-row">
      <img src="../../assets/images/goofy5.JPG" />
    </div>
    <div class="gallery-row">
      <img src="../../assets/images/goofy8.jpeg" />
    </div>
    <div class="gallery-row">
      <img src="../../assets/images/goofy7.JPG" />
    </div>
    <div class="gallery-row">
      <img src="../../assets/images/goofy6.JPG" />
    </div>
  </div>
  <div class="gap"></div>
  <div class="right">
    <img
      src="../../assets/images/gallery_pose.png"
      alt="profile pic"
      class="img-flex"
    />
  </div>
</main>
