main {
    width: 100%;
    justify-content: center;
  }
  
  .container {
  
    min-width: 400px;
    // height: 20vh;
    align-items: center;
    box-sizing: border-box;
    background: rgb(28, 39, 106);
    padding: 50px;
  }
  
  .textchange {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: aliceblue;
    position: relative;
    text-align: center;
    margin: 0;
    transform: translateY(-50%);
  
    span {
      color: blueviolet;
      text-transform: uppercase;
      padding:5px;
      border-right: solid blueviolet 5px;
      animation: cursor 1s ease-in-out infinite;
    }
  }
  @keyframes cursor {
    from { border-color: var(--text-color); }
    to { border-color: transparent; }
  }
  