<app-banner></app-banner>
<main>
  <div class="full-cake">
    <div class="cake cake-bottom"></div>
    <div class="cake cake-middle"></div>
    <div class="cake cake-top"></div>
    <div class="icing"></div>
    <div class="drip drip1"></div>
    <div class="drip drip2"></div>
    <div class="drip drip3"></div>
    <div class="drip drip4"></div>
    <div class="drip drip5"></div>
    <div class="candles">
      <div class="flame"></div>
    </div>
  </div>
  
    <h1 class="center">Happy Birthday Goofy</h1>
  
</main>
