  <!-- <div class="left-side">
    <div class="content">
      <div class="text">
        <h2>Hi there</h2>
        <div class="typewriter">
          <h1>Happy birthday</h1>
        </div>
       
        <p>Hope you like your birthday cake!</p>
        <button mat-button routerLink="happy-birthday">
          Blow your candles
        </button>
      </div>
    </div>
    <div class="content">
      <img
        src="../../assets/images/goofy.png"
        alt="profile pic"
        class="image-design"
      />
    </div>
  </div> -->
<!-- </main> -->
<p>ADD CAKE HERE</p>
