:root {
    --yellow: #d8a414;
}

main {
    width: 100%;
    min-height: 100%;
    justify-content: center;
    background: #f7cb96;

}

.gift-box {
    cursor: pointer;
}

.shake-box {
    animation: tilt-shaking 1s;
    animation-iteration-count: 5;

}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.hide-class {
    opacity: 0;
}

.bow {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    
    .bow-left {
        width: 20px;
        height: 60px;
        position: absolute;
        transform: rotate(35deg);
        margin: 0;

        right: 47%;
        border-radius: 50%;
        border: 10px solid #d8a414
    }

    .bow-right {
        width: 20px;
        height: 60px;
        position: absolute;
        left: 47%;
        transform: rotate(145deg);
        border-radius: 50%;
        border: 10px solid #d8a414
    }
}

.top-gift-open {
    transform: rotate(160deg);
    right: 20px;
    position: relative;
}

.top-gift {
    width: 50px;
    height: 50px;
    margin: 0 auto;

    background-color: #d8a414;
    border-left: 110px solid rgb(5, 26, 145);

    border-right: 110px solid rgb(5, 26, 145);
    ;
    box-shadow:
        6.9px 6.3px 8.1px rgba(11, 19, 62, 0.384),

}

.bottom-gift-move {
    top: 50px;
    position: relative;

}

.middle-gift {
    width: 50px;
    height: 20px;
    margin: 0 auto;
    background-color: #d8a414;
    border-left: 100px solid rgb(3, 18, 104);

    border-right: 100px solid rgb(3, 18, 104);
    box-shadow:
        6.9px 6.3px 8.1px rgba(11, 19, 62, 0.384),
}

.bottom-gift {
    width: 50px;
    height: 150px;
    margin: 0 auto;
    background-color: #d8a414;
    border-left: 100px solid rgb(5, 26, 145);

    border-right: 100px solid rgb(5, 26, 145);
    box-shadow:
        6.9px 6.3px 8.1px rgba(11, 19, 62, 0.384),
        55px 50px 65px rgba(48, 67, 164, 0.107)
}

.clickButton {
    padding-top: 20vh;
    cursor: pointer;
    text-align: center;
}


@media (max-width: 800px) {
    main {
        flex-direction: column;
    }

    .bow {
        .bow-right {
            left: 43%;
        }

        .bow-left {
            right: 43%;
        }
    }
}